<!DOCTYPE html>
<html>
  <head>
    <title>AuthHw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Below will only display to logged in user, allowing them a logout button -->
    <% if !current_user.nil? %>
      <ul>
          <li>Logged in as: <%= current_user.username %></li>
          <li>
              <form action="<%= session_url %>" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Logout">
              </form>
          </li>
      </ul>

    <% end %>

    <%= yield %>
  </body>
</html>
