

<main>
  <section>
    <header>New Rental Request</header>
    <form action="<%=cat_rental_requests_url%>" method="post">

      <label for="cat_id">Desired Cat:</label>
      <select class="" name="cat_rental_request[cat_id]" id="cat_id">
        <option value="none">--Select Cat--</option>
        <% Cat.all.each do |cat| %>
          <option value="<%=cat.id%>" <%= @cat_rental_request.cat_id == cat.id ? "selected" : "" %> > <%=cat.name%> </option>
          <% end %>
        </select>
        <br>

        <label for="start_date">Start Date:</label>
        <input type="date" name="cat_rental_request[start_date]" value="<%=@cat_rental_request.start_date%>">

        <br>

        <label for="end_date">End Date:</label>
        <input type="date" name="cat_rental_request[end_date]" value="<%=@cat_rental_request.end_date%>">

        <input type="submit" value="Submit Request">
      </form>
    </section>
</main>
